:root.theme-dark {
  --font-color: #F1B2CE;
  --font-family: "IBM Plex mono", monospace;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --font-header-color: #DB00FF;
  --font-header-shadow-color: #ff0070;
  --accent-color: #ff0070;
  --header-subtitle-background-color:  #ff0070;
  --section-header-color: #000028;  
  --section-title-color: #ff0070;
  --section-subtitle-bg-color:  #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
}

 