:root.theme-light {
  --font-color: #353430;
  --font-family: "IBM Plex mono", monospace;
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --font-header-color: #FFC2E6;
  --font-header-shadow-color:#FF8DCB;
  --accent-color: #353430; 
  --header-subtitle-background-color:  #FF8DCB;
  --section-header-color: #353430;  
  --section-title-color: #353430;
  --section-subtitle-bg-color:  #ff0070;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);

  .rec-div {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .rec-div {
    display: none;
  }
  :root {
    --font-color: #353430;
    --font-family: "IBM Plex mono", monospace;
    --background-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --font-header-color: #FFC2E6;
    --font-header-shadow-color:#FF8DCB;
    --accent-color: #353430; 
    --header-subtitle-background-color:  #FF8DCB;
    --section-header-color: #353430;  
    --section-title-color: #353430;
    --section-subtitle-bg-color:  #ff0070;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
  }
}
 
