.page {
  overflow-x: auto;
  background-color: var(--background-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 668px;
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rec-div {
  position: absolute;
  top: 10px;
  right: 18px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
}

.rec-div::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--button-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: auto;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--button-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.logo {
  color: var(--font-header-color);
  font-weight: bold;
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--font-header-shadow-color);
}

.header__subtitle {
  margin-block-start: -10px;
  color: var(--section-header-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--header-subtitle-background-color);
}

.main {
  top: 0;
  padding-top: 10px;
}
.section {
  padding-right: 10px;
  padding-left: 10px;
}
.section__title {
  padding-top: 30px;
  padding-bottom: 20px;
  color: var(--section-title-color);
  font-weight: bold;
  font-size: 18px;
}

.section__subtitle {
  color: var(--section-header-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--header-subtitle-background-color);
}

.bold-subtitle-advice {
  margin-block-end: 20px;
}

.section__paragraph {
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--font-color);
  font-size: 18px;
  line-height: 23.4px;
}

.paragraph__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-color, #ff0070);
}

.paragraph__text-link:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.paragraph__text-link:focus {
  outline: none;
}

.paragraph__text-link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.bold-subtitle-images {
  margin-block-start: 30px;
}

.gallery {
  display: grid;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.gallery__item {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  min-block-size: 668px;
}

/* Медиазапрос если экран >= 768px */
@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px 0 20px;
    min-block-size: 1024px;
  }

  .logo {
    grid-column: span 2;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-div {
    top: 19px;
    right: 29px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__subtitle {
    grid-column: 2 / 3;
    justify-self: end;
  }

  .main {
    gap: 80px;
    margin-block: 60px;
    padding-inline: 20px;
  }

  .section p {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .section__hard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
  }

  .section__hard .section__title {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }

  .section__hard-article {
    grid-column: 2;
  }

  .section__attention {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
  }

  .section__attention .section__title {
    position: relative;
    justify-self: start;
    padding: 0;
  }

  .section__attention-article {
    grid-column: span 2;
  }

  .section__advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 79px;
    padding-left: 0;
  }

  .section__advice .section__title {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }

  .bold-subtitle-advice {
    grid-column: 2;
    grid-row: 1;
  }

  .section__article-advice:first-of-type {
    grid-column: 2;
    grid-row: 1;
    margin-block-start: 40px;
  }

  .section__article-advice:not(:first-of-type) {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px 0 0 0;
  }

  .bold-subtitle-images {
    margin-block-start: 0;
  }

  .images {
    padding: 0;
  }

  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery img:nth-child(1) {
    grid-column: span 2 / span 2;
  }

  .gallery img:nth-child(2) {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .gallery img:nth-child(3) {
    grid-row: span 2 / span 2;
    grid-row-start: 2;
  }

  .gallery img:nth-child(4) {
    grid-row-start: 2;
  }

  .gallery img:nth-child(5) {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .footer {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-block-end: 20px;
    min-block-size: 1024px;
  }

  .footer .logo {
    margin-inline-start: 0;
  }
}

/* Медиазапрос если экран >= 1024px */
@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .logo {
    position: relative;
    top: -10px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
  }

  .header__subtitle {
    position: relative;
    top: -10px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-div {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main {
    padding-top: 0;
  }

  .section__hard-article {
    grid-column: 2 / 4;
  }

  .section__attention {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
  }

  .section__attention .section__title {
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }

  .section__attention-article:nth-child(1) {
    grid-column: 1;
  }

  .section__attention-article:nth-child(2) {
    grid-column: 1;
  }

  .section__attention-article:nth-child(3) {
    grid-column: 2;
  }

  .section__attention-article:nth-child(4) {
    grid-column: 3;
  }

  .bold-subtitle-advice {
    grid-column: 2 / 4;
  }

  .section__article-advice:first-of-type {
    position: relative;
    top: 2px;
    grid-column: 2 / 4;
  }

  .section__article-advice:not(:first-of-type) {
    position: relative;
    top: 2px;
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-end: 0;
    min-block-size: 768px;
  }

  .footer .logo {
    top: 0;
    line-height: 82.5%;
  }
}
